@using Revuo.Home.Abstractions

<span class="border border-primary">@DisplayText()</span>

@code {
    [Parameter]
    public IRequest Data { get; set; }

    [Parameter]
    public string Id { get; set; }

    public string DisplayText()
    {
        return Data?.Data<string>(2);
    }
}

